@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.hero-bg-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  background-image: linear-gradient(to bottom, transparent, white), url("hero-bg.jpg");
  background-size: cover;
}
